<h2>Contact form</h2>

<form method="/doesnotexist" id="contact-form" action="POST">

    <label for="name">
        Name:

        <input name="name" type="text" value="" id="name"/>
    </label>
    <label for="surname">
        Surname:

        <input name="surname" type="text" value="" id="surname"/>
    </label>

    <label for="email">

        Email:

        <input type="email" name="email" value="" id="email"/>
    </label>


    <label for="subject">
        Subject:

        <input name="subject" type="text" value="" id="subject"/>
    </label>


    <label for="message">
        Message:
        <textarea name="message" id="message" rows="30" cols="100" tabindex=""></textarea>
    </label>

    <input name="Submit" type="submit" value="Submit!"/>


</form>
